.btn {
  background-color: $dark;
  border: 0;
  color: $light;
  padding: 0.6em 1.3em;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  /* This should be a grid and for the gap user the variable in _variables.scss */
  display: grid;
  grid-gap: $grid-gap;
}

/* Navigation */
.main-nav {
  ul {
    /* This should be a grid, should have gap and 4 columns  */
    display: grid;
    grid-gap: $grid-gap;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    background-color: $primary;
    box-shadow: $shadow;
    color: $dark;
    display: block;
    font-size: 1.1em;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: $dark;
      color: $light;
    }
  }
}

/* Top Container */
.top-container {
  /* This should be a grid, should have gap and 3 areas per row  */
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 70% 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}

/* Showcase */
.showcase {
  align-items: start;
  background: url('img/pic2.jpg') center;
  background-size: cover;
  box-shadow: $shadow;
  color: $light;
  display: flex;
  flex-direction: column;

  /* Asign this as grid area */
  grid-area: 1 / 1 / 4 / 3;
  justify-content: center;
  min-height: 400px;
  padding: 3em;
  h1 {
    font-size: 4em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.3em;
    margin-top: 0;
  }
}
/* Top Box */
.top-box {
  align-items: center;
  background-color: $primary;
  box-shadow: $shadow;

  /* This should be a grid*/
  display: grid;

  justify-items: center;
  padding: 1.5em;
  .price {
    font-size: 2.5em;
  }
}

.top-box-a {
  /* Asign this as grid area */
  grid-area: 1 / 3 / 2 / 3;
}
.top-box-b {
  /* Asign this as grid area */
  grid-area: 2 / 3 / 4 / 3;
}

/* Cards */
.cards {
  /* This should be a grid, should have gap and auto-fit columns with minmax(200px, 1fr) */
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background-color: $primary;
  box-shadow: $shadow;
  padding: 1.5em 2em;
  text-align: center;
}

/* Info */
.info {
  background-color: $primary;
  box-shadow: $shadow;

  /* This should be a grid, should have gap and 4 columns  */
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: auto auto auto auto;
  padding: 3em;
}

/* Portfolio */
.portfolio {
  /* This should be a grid, should have gap and auto-fit columns with minmax(200px, 1fr) */
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  img {
    box-shadow: $shadow;
    width: 100%;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .top-container {
    /* This should be 2 areas per row  */
    grid-template-columns: 50% 1fr;

    .showcase {
      grid-area: 1 / 1 / 2 / 4;
    }

    .top-box-a {
      grid-area: 2 / 1 / 4 / 1;
    }

    .top-box-b {
      grid-area: 2 / 2 / 4 / 4;
    }
  }
  .showcase h1 {
    font-size: 2.5em;
  }
  .main-nav ul,
  .info {
    /* This should be 1 column  */
    grid-template-columns: 100%;
  }
  .info .btn {
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .top-container {
    .top-box-a {
      grid-area: 2 / 1 / 2 / 4;
    }

    .top-box-b {
      grid-area: 3 / 1 / 4 / 4;
    }
  }
}
