/* navbar */
.navbar {
  background: $dark-gray;
  display: block;
  margin-top: 0;
  text-align: right;
  li {
    display: inline-block;
  }
  a {
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    line-height: 20px;
    padding: 15px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.07s linear;
    &:hover .box,
    &:focus .box {
      /* Add the rotation*/
      transform: rotateX(90deg);
    }
  }

  .box,
  .front,
  .back {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .box {
    /* Add transform style */
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }
  .front,
  .back {
    background: $dark-gray;
    color: $white;
    padding: 15px 10px;
  }

  // TODO: Transfor the direction of the text

  /* Add rotation and transformation logic for each size */

  .front {
    transform: translateZ(25px);
  }
  .back {
    transform: rotateX(90deg) translateZ(-24px);
  }
}

/* Header */
.header {
  height: 200px;
  text-align: center;
  width: 100%;
  perspective: 1500px;
  h1 {
    font-size: 4em;
    text-shadow: 6px 4px 2px $light-gray;
    /* Add the rotate logic to the title */
    transform: rotate3d(0, -10, 5, -5deg) skew(10deg);
  }
}

/* Cube */
.cube-section {
  cursor: pointer;
  height: 300px;
  perspective: 1000px;
  position: relative;
  width: 100%;
  .cube {
    animation: spinCube 10s infinite ease-in-out;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 30%;

    /* Add transform style */
    transform-style: preserve-3d;
    transform-origin: 60px 60px 0;
    width: 60px;
    img {
      height: 120px;
      position: absolute;
      width: 120px;
    }
  }
  .face1,
  .face2,
  .face3,
  .face4,
  .face5,
  .face6 {
    transition: transform 0.75s;
  }

  .face1 {
    transform: translate3d(0, 0, 60px);
  }
  .face2 {
    transform: rotateY(180deg) translate3d(0, 0, 60px);
  }
  .face3 {
    transform: rotateY(-90deg) translate3d(0, 0, 60px);
  }
  .face4 {
    transform: rotateY(90deg) translate3d(0, 0, 60px);
  }
  .face5 {
    transform: rotateX(90deg) translate3d(0, 0, 60px);
  }
  .face6 {
    transform: rotateX(-90deg) translate3d(0, 0, 60px);
  }

  &:hover {
    /* Add rotation and transform logic for each face when hover */

    .face1 {
      transform: translate3d(0, 0, 120px);
    }
    .face2 {
      transform: rotateY(180deg) translate3d(0, 0, 120px);
    }
    .face3 {
      transform: rotateY(-90deg) translate3d(0, 0, 120px);
    }
    .face4 {
      transform: rotateY(90deg) translate3d(0, 0, 120px);
    }
    .face5 {
      transform: rotateX(90deg) translate3d(0, 0, 120px);
    }
    .face6 {
      transform: rotateX(-90deg) translate3d(0, 0, 120px);
    }
  }
}
