section {
    clip: rect(0, auto, auto, 0);
    height: $height-full;
    letter-spacing: 4px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: $width-full;

    .fixed {
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    .white {
        color: $light;
    }
}

@for $i from 1 through 10 {
    section:nth-child(#{$i}) {
        z-index: $i;

        @if $i == 1 {
            background-color: $light;
            border-top: 10px solid #48ded4;
            color: $dark;
            top: 0;
        }
        @else if $i == 10 {
            background-color: $dark;
            color: $light;
            top: $height-full * ($i - 1);
        }
        @else {
            background-color: hsl(250deg * $i, 80%, 40%);
            box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
            color: #fff;
            top: $height-full * ($i - 1);
        }

        .fixed {
            transform: translate(-50%, -50%);
        }
    }
}
