// fonts
$font-stack:      Helvetica, sans-serif;
$font-size-base:  10px / 16px * 100%;

// sizes
$height-full:     100vh;
$width-full:      100%;

// colors
$light:           #fff;
$dark:            #000;
