/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// IMPORT YOUR FILES HERE
@import './scss/_normalize';
@import './scss/_variables';
@import './scss/_mixins';

html {
  font-family: $ta-base-font;
  height: $full-height;
  width: $full-width;
}

body {
  @include font-size(1.6);

  background-color: $light-color;
  color: $light-color;
  font-weight: 100;
  line-height: 1.5;
  height: $full-height;
}

.content {
  height: 100vh;
  z-index: 2;
  position: absolute;
  @extend .general-gradient;

  a {
    color: $light-color;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.bg-1 {
  @extend .background-header;
  @include delay(10s);
  background-image: url($first-background);
}

.bg-2 {
  @extend .background-header;
  @include delay(5s);
  background-image: url($second-background);
}

.bg-3 {
  @extend .background-header;
  @include delay(0s);
  background-image: url($third-background);
}

.bg-1,
.bg-2,
.bg-3 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
