/* Import Fonts */
@import './fonts/_font-dancing.scss';
@import './fonts/_font-permanent.scss';
@import './fonts/_font-roboto.scss';

/* Colors */
$black: #000000;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #eaeaea;
$white: #ffffff;
$blue: #2690d4;
