$ta-base-font: 'Avenir', sans-serif;
$ta-base-font-size: 100%;
$full-height: 100%;
$full-width: 100%;

// Footer

$footer-height: 50px;

// Colors

$light-color: #fff;
$dark-color: #000;

// Backgrounds

$first-background: '../assets/background1.png';
$second-background: '../assets/background2.jpg';
$third-background: '../assets/background3.jpg';
