/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  background-image: url('../assets/img/table-bg.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
