// commons
html {
    font-family: $font-stack;
    font-size: $font-size-base;
    height: $height-full;
}

body {
    @include font-size(1.6);

    background-color: $light;
    color: $light;
    font-weight: 100;
    height: $height-full;
    line-height: 1.5;
}

footer {
    background-color: rgba($dark, 0.5);
    height: $height-footer;
    line-height: $height-footer;
    text-align: right;
    padding: 0 30px;
}

img {
    background-color: blue;
    width: 350px;
}

button {
    background-color: rgba($light, 0.5);
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 350px;

    &:hover {
        background-color: rgba($dark, 0.5);
        color: $light;
    }

    &:focus {
        outline: none;
    }
}
