// fonts
$font-stack:      Helvetica, sans-serif;
$font-size-base:  10px / 16px * 100%;

// sizes
$height-full:     100%;
$width-full:      100%;
$height-footer:   50px;


// colors
$light:           #fff;
$dark:            #000;
