/*  Colors */
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black-gray: rgba(0, 0, 0, 0.5);
$black-light: rgba(0, 0, 0, 0.2);
$green: rgba(39, 174, 96, 1);
$red: rgba(231, 76, 60, 1);

$font: 'Arial', 'Helvetica', 'sans-serif';
$font-size: 16px;
