// font size mixin
@mixin font-size ($sizeValue: 1.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// keyframe mixin
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

// keyframe animation
@include keyframes(fade) {
  0%     { opacity: 1; }
  12.5%  { opacity: 1; }
  25%    { opacity: 1; }
  37.5%  { opacity: 0; }
  50%    { opacity: 0; }
  62.5%  { opacity: 0; }
  75%    { opacity: 0; }
  87.5%  { opacity: 0; }
  100%   { opacity: 1; }
}

// delay mixin
@mixin delay($str) {
  animation-delay: #{$str};
}

// animation mixin
@mixin animation($str) {
  animation: #{$str};
}
