// fonts
$font-stack:      Helvetica, sans-serif;
$font-size-base:  10px / 16px * 100%;

// sizes
$height-full:     100vh;
$width-full:      100%;

// colors
$light:           #fff;
$dark:            #000;

$grey:          #c2c2c2;
$light-grey:    #eee;
$dark-grey:     #a9a9a9;

// backgrounds
$background1:     "../assets/background1.jpg";
